{% extends 'base.html.twig' %}

{% block title %}Série #{{ program.title }}{% endblock %}

{% block body %}

    <div class="media">
        <div class="media-body">
            <h1 class="mt-0">Saison n° {{ season.number }}</h1>
            <br>
            <h2> Episodes : {{ episode.number}} -- {{ episode.title }}</h2>
            <h3> Résumé de l'épisode : </h3>
            <p> {{ episode.synopsis }}</p>

        </div>
    </div>
<h3> Commentaire de nos utilisateurs </h3>
{% for comment in episode.comments | sort((a, b) => a.createdAt > b.createdAt) %}
    <div class="row">
        <div class="col-4">
            <h4>{{ comment.author.email}} :  {{ comment.rate }}/5 </h4>
            <h5>Commentaire publié le {{ comment.createdAt|date("d/m/Y H:i:s") }}</h5>
            <p>{{ comment.comment }}</p>
        </div>
        {% if app.user == comment.author or is_granted("ROLE_ADMIN") %}
        <div class="col-4">
            {{ include('episode/_delete_Commentform.html.twig') }}
        </div>
        {% endif %}
    </div>
{% endfor %}
    {% if app.user %}
<h1> Laisser un commentaire : </h1>
<div class="container-fluid">
    {{ form_start(form) }}
    <div class="row">
        <div class="col-4">
            {{ form_widget(form) }}
            <input class="btn btn-primary" type="submit" value="envoyer le commentaire">
        </div>

    </div>
    {{ form_end(form) }}
</div>
    {% endif %}
{% endblock %}
