{% extends 'base.html.twig' %}

{% block title %}Acteur #{{ actor.name }}{% endblock %}

{% block body %}

            <h1 class="mt-0">{{ actor.name }}</h1>
            {% if actor.hasImage %}
                <img class="align-self-start mr-3" src="{{ asset('uploads/' ~ actor.poster) }}" alt="poster de l'acteur">
            {% endif %}
            <h2>Liste des séries de cet acteur :</h2>

            <ul>
            {% for program in actor.programs %}
                <li><a href="{{ path('program_show', {slug: program.slug}) }}">{{ program.title }}</a></li>
            {% else %}
            <p> Pas de série associée </p>
            {% endfor %}
            </ul>

    <a href="{{ path('actor_list') }}">back to list</a>

{% endblock %}
