{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}

<h1>Bienvenue !</h1>

    <h2> Découvrez nos dernières séries ajoutées !!</h2>

    <div class="container">
    <!-- Slider main container -->
    <div class="swiper-container mySwiper">
        <!-- Additional required wrapper -->
        <div class="swiper-wrapper ">
            {% for program in programs %}
            <div class="swiper-slide"><a href="{{ path('program_show', {slug: program.slug}) }}">
                    {% if program.isUploaded %}
                        <img class="align-self-start mr-3" src="{{ asset('uploads/' ~ program.poster) }}" alt="{{ program.title }} poster">
                    {% else %}
                        <img class="align-self-start mr-3" src="{{ program.poster }}" alt="{{ program.title }} poster">
                    {% endif %}
                </a></div>
            {% endfor %}
        </div>
        <!-- If we need pagination -->
        <div class="swiper-pagination"></div>
    </div>
    </div>
{% endblock %}